@charset "uft-8";
html, body {
  margin: 0%;
}

header {
  background-color: yellow;
}
header h1 {
  margin: 0%;
  text-align: center;
}
nav {
  background-color: orange;
  float: left;
  height: 100%;
  width: 15%;
}
section {
  background-color: skyblue;
  margin: 0;
  float: left;
  width: 85%;
}
footer {
  background-color: violet;
  clear: both;
}
p {
  margin: 0%;
  padding: 10px;
}
h2 {
  margin: 0%;
  padding: 10px;
}